<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" required>
        <label for="email">Email:</label>
        <input type="text" id="email" placeholder="Enter your email" required>
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="password">
        <label for="Rpassword">Repeat password:</label>
        <input type="password" id="Rpassword" placeholder="Repeat password" required>
        <button type="sign up">sign up</button>
    </form>

    <p>Already have an account? <a href="login.html">log in</a></p>
</body>
</html>
